[build]
command = ""
publish = "."

[functions]
directory = "netlify/functions"
node_bundler = "esbuild"
# Adding dependencies here just in case, for maximum stability
external_node_modules = ["openai", "youtube-transcript-api", "http", "https"] 

[functions.summarize]
timeout = 26